{% extends 'shop/blank.html' %}

{% block content%}
<div class="container">
    <div class="section">
        <h2>Товари {{ username }}</h2>
        {% if products %}
           <div id="store" class="col-md-15">
              <div class="row">
                {% for product in products %}
                    <div class="col-md-3 col-xs-6">
                    {% include 'shop/_product.html' with product=product category=category %}
                    </div>
                {% endfor %}
                </div>
         </div>
        {% else %}
        <br>
            <p>{{ username }} не виставив ні одного товару.</p>
        {% endif %}
    </div>
</div>

{% endblock %}